.page-title {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.page-title > p {
    width: calc(100% - 24px);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 768px){
    .page-title {
        justify-content: start;
        width: 100%;
        max-width: 1440px;
    }
    .page-title > p {
        text-align: left;
        margin-left: 16px;
    }
}