button.button {
    height: 48px;
    width: 100%;
    outline: none;
    border: none;
    padding: 16px;
}

button.button--text {
    background-color: transparent;
    color: #489DDA;
}

button.button--filled {
    background-color: #489DDA;
    border-radius: 100px;
    color: #F8FAFC;
}