.office-page {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.office-page > .office-block {
    margin-top: 23px;
}

.office-page > .add-button {
    position: fixed;
    bottom: 28px;
    right: 17px;
}

.office-page > .modal > .modal__panel {
    padding: 24px 16px;
}

.office-page > .modal > .modal__panel > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.office-page > .modal > .modal__panel > div > h3 {
    font-weight: 800;
    font-size: 24px;
}

.office-page > .modal > .modal__panel > form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.office-page > .modal > .modal__panel > form > .steps > span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1.5px solid #489DDA;
}

.office-page > .modal > .modal__panel > form > .steps {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}