.office-block {
    display: flex;
    width: 342px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    border: 1px solid #E8F3FC;
    overflow-y: hidden;
    transition: height 800ms cubic-bezier(.13,.27,.81,.54);
}

.office-block__sidebar {
    width: 12px;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.office-block__info {
    padding: 17.4px 16px 0px 22px;
    width: calc(100% - 12px);
    color: #484954;
}

.office-block__info > h3 {
    margin-bottom: 11.6px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29.05px;
}

.office-block__info > div:first-of-type {
    display: flex;
    align-items: center;
    padding-bottom: 11.3px;
    margin-bottom: 13.3px;
    border-bottom: 1px solid #0D4477;
    gap: 12px;
}

.office-block__info > div:first-of-type > p, .office-block__info > div:nth-of-type(2) > p {
    font-size: 12px;
    line-height: 22px;
}

.office-block__info > div:first-of-type > p > span {
    font-weight: 700;
}

.office-block__info > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.office-block__edit {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 14.33px;
}

.office-block__arrow-down, .office-block__arrow-up {
    cursor: pointer;
    transition: transform 800ms cubic-bezier(.13,.27,.81,.54);
}

.office-block__arrow-up {
    transform: rotate(180deg);
}

.office-block__details {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12.23px;
    width: 243px;
}

.office-block__details > li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
}