.choose-color {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.choose-color > span {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 12px;
}