.add-office {
    padding: 16px;
}

.add-office .page-title {
    margin-bottom: 45px;
}

.add-office__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 36px;
}

.add-office__choose-color {
    margin-bottom: 36px;
}

.add-office__choose-color > h3 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

.add-office > div:first-of-type > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.add-office > div:last-of-type > button {
    width: 232px !important;
}

small {
    color: #F44336;
}

@media (min-width: 768px) {
    .add-office{
        padding: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-office > div:nth-of-type(2) {
        display: flex;
        gap: 36px;
        max-width: 1440px;
        width: 100%;
    }

    .add-office > div:nth-of-type(2) > .add-office__info {
        flex: 1;
    }

    .add-office > div:nth-of-type(2) > div:last-of-type {
        flex: 1;
    }
}