.office {
    margin-top: 64px;
    padding: 16px;
    color: #484954;
}

.office > h2 {
    margin-bottom: 28px;
}

.office > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.office > .add-button {
    position: fixed;
    bottom: 24px;
    right: 17px;
}

/* Desktop */

@media (min-width: 768px) {
    .office {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .office > ul {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1390px;
        justify-content: center;
    }

    .office > ul > li .office-block {
        width: 450px;
        max-width: 100%;
    }

    .office > h2 {
        text-align: center;
    }
}